@media screen and (max-width:400px) {
    button {
        border: none;
        background-color: rgb(0, 201, 0);
        padding: 1em;
        border-radius: 8px;
        width: 20em;
        color: #fff;
        cursor: pointer;
    }
    input {
        width: 8em;
        font-size: 2em;
        border: none;
        background: transparent;
        border-bottom: 2px solid green;
        text-align: center;
        font-weight: bold;
    }
    * {
        font-family: 'Roboto', sans-serif;
    }
    .title {
        width: 100%;
        text-align: center;
    }
    .container {
        width: 100%;
        text-align: center;
        margin-top: 5em;
        height: 50vh;
    }
    .clipboardappear {
        display: none;
    }
    .clipboard {
        font-size: 1em;
        color: green;
        animation: disappear 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
    @keyframes disappear {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }
}

@media screen and (min-width:400px) {
    button {
        border: none;
        background-color: rgb(0, 201, 0);
        padding: 1em;
        border-radius: 8px;
        width: 20em;
        color: #fff;
        cursor: pointer;
    }
    input {
        width: 10em;
        border: none;
        background: transparent;
        border-bottom: 2px solid green;
        text-align: center;
        font-weight: bold;
        font-size: 2em;
    }
    * {
        font-family: 'Roboto', sans-serif;
    }
    .title {
        width: 100%;
        text-align: center;
    }
    .container {
        width: 100%;
        text-align: center;
        margin-top: 5em;
        height: 50vh;
    }
    .clipboardappear {
        display: none;
    }
    .clipboard {
        font-size: 1em;
        color: green;
        animation: disappear 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
    @keyframes disappear {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }
}