<!-- <div class="col-lg-4 mt-2">
    <div class="message-container" id="message-container">
        <div class="row mt-2" id="messages">
        </div>
        <div class="row " id="info-row">
        </div>
    </div>
    <div class="messenger">
        <div class="input-group mb-3 mt-3">
            <input type="text" class="form-control" (keydown)="sendInfo($event)" id="message" placeholder="Enter message" [(ngModel)]='message'>
            <div class="input-group-append">
                <button class="btn" type="button" id="send" (click)='sendMsg()'><span class="material-icons">
                    send
                    </span></button>
            </div>
        </div>
    </div>
</div> -->
<div class="container" style="position: relative;">
    <img src="../assets/images/expand-arrow.png" alt="expand" id="expand" (click)='openSideBar()' style="width: 30px; height: 30px;position: absolute;top: 50%;left:0;display:none">
    <div class="notRequired"></div>
    <div class="main" (swipe)="onSwipe($event)">
        <div class="chatArea">
            <div class="groupName">
                <h1>{{roomName|uppercase}}</h1>
            </div>
            <div class="messageArea" id="messageArea">
                <ng-container *ngFor="let item of allMessages">
                    <div *ngIf="item.myMessage===undefined" id="otherMsg" style="margin-bottom: 5px !important;">
                        <div class="msgcontainer">
                            <div class="arrow">
                                <div class="outer"></div>
                                <div class="inner"></div>
                            </div>
                            <div class="message-body">
                                <p style="font-weight: bold;font-size: 1em;">{{item.userName}}</p>
                                <p style="margin-top: 5px;font-size: 0.9em;">{{item.message}}</p>
                                <div class="time" style="font-size: 0.7em;text-align: right;margin-top: 3px;">{{item.time|date:'h:mm a'}}</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="item.myMessage" id="myMsg" style="margin-bottom: 5px !important;">
                        <div class="msgcontainer2">
                            <div class="arrow">
                                <div class="outer"></div>
                                <div class="inner"></div>
                            </div>
                            <div class="message-body">
                                <p style="font-weight: bold;font-size: 1em;">Me</p>
                                <p style="margin-top: 5px;font-size: 0.9em;">{{item.message}}</p>
                                <div class="time" style="font-size: 0.7em;text-align: right;margin-top: 3px;">{{item.time|date:'h:mm a'}}</div>
                            </div>
                        </div>
                    </div>
                    <br>
                </ng-container>
                <div style="clear:both;width: 100%;text-align: left;color:green;margin-top: 8px;" *ngIf="infos.length>0 && displayInfo">{{infos[infos.length-1].userName}}{{infos[infos.length-1].message}}</div>
            </div>
            <div class="messageInput">
                <input type="text" (keydown)="sendInfo($event)" [(ngModel)]='message' placeholder="Enter message " style="width:70%;border: none;background: transparent;border-bottom: 2px solid green; border-radius: 0 !important; ">
                <button (click)="sendMsg() " style="width: 5%;border: none;background: transparent;outline: 0;cursor: pointer;position: absolute;margin-top: 1em; "><img src="../assets/images/send-arrow.png" alt="send" style="width: 30px; height: 30px;"></button>
                <!-- <button><img src="../assets/images/send-button.png" alt="send" style="width: 30px; height: 30px;"></button> -->
            </div>
        </div>
        <div class="infoArea inactive" [ngClass]="{'active':slideRight}">
            <div class="inRoom">
                <h3>Active Users</h3>
                <ng-container *ngFor="let item of activeUsers">
                    <div class="contact" id=item>
                        <div id="avatar"></div>
                        <div class="name">{{item}}</div>
                    </div>
                </ng-container>
            </div>
            <button style="background-color: red;border: none;border-radius: 10px;color:white;padding: 0.7em;cursor: pointer;margin-top: 3em;" (click)='leaveRoom()'>Leave Room</button>
        </div>
    </div>
    <div class="notRequired"></div>
</div>